a.menu-btn-img {
	transition: 100ms ease-out all;
	border: none;
	background: none;
	user-select: none;
	outline: none;
	width: 15px;
	height: 15px;
	display: block;
	line-height: 0;
	opacity: .5
}

a.menu-btn-img:active,
a.menu-btn-img:focus,
a.menu-btn-img:hover {
	cursor: pointer;
	background: none;
	user-select: none;
	outline: none
}

a.menu-btn-img:hover {
	opacity: .8
}

a.menu-btn-img .unit {
	position: relative;
	width: 15px;
	height: 15px;
	display: block;
	transition: 215ms ease-out all;
	-webkit-transform-origin: center center;
	-webkit-transform: rotate(90deg);
	-ms-transform-origin: center center;
	-ms-transform: rotate(90deg);
	transform-origin: center center;
	transform: rotate(90deg)
}

a.menu-btn-img .unit .tile,
a.menu-btn-img .unit .list {
	background: none;
	user-select: none;
	outline: 0;
	will-change: transform;
	position: absolute;
	transition: 215ms ease-out all;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px
}

a.menu-btn-img .unit .tile svg,
a.menu-btn-img .unit .list svg {
	width: 15px;
	height: 15px;
	fill: #333 !important
}

a.menu-btn-img .unit .tile {
	opacity: 1
}

a.menu-btn-img .unit .list {
	opacity: 0
}

a.menu-btn-img .unit.rotate {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
}

a.menu-btn-img .unit.rotate .tile {
	opacity: 0
}

a.menu-btn-img .unit.rotate .list {
	opacity: 1
}


html a.inline,
html .figcaption a.inline {
	border-bottom: #81d3eb solid .14em
}

html a.inline.dark,
html .figcaption a.inline.dark {
	border-bottom: rgba(0, 0, 0, 0.8) solid .14em
}

html.cssgradients span.inline,
html.cssgradients a.inline {
	border: none;
	background-image: -linear-gradient(top, transparent 85%, #81d3eb 0, #81d3eb 95%, transparent 0);
	background-image: -moz-linear-gradient(top, transparent 85%, #81d3eb 0, #81d3eb 95%, transparent 0);
	background-image: -webkit-linear-gradient(top, transparent 85%, #81d3eb 0, #81d3eb 95%, transparent 0)
}

html.cssgradients span.inline.dark,
html.cssgradients a.inline.dark {
	border: none;
	background-image: -linear-gradient(transparent 88%, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 92%, transparent 0);
	background-image: -moz-linear-gradient(transparent 88%, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 92%, transparent 0);
	background-image: -webkit-linear-gradient(transparent 88%, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 92%, transparent 0)
}

html.cssgradients .figcaption a.inline {
	border: none;
	background-image: -linear-gradient(top, transparent 85%, #2e4dd2 0, #2e4dd2 95%, transparent 0);
	background-image: -moz-linear-gradient(top, transparent 85%, #2e4dd2 0, #2e4dd2 95%, transparent 0);
	background-image: -webkit-linear-gradient(top, transparent 85%, #2e4dd2 0, #2e4dd2 95%, transparent 0)
}

a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	border-bottom: rgba(0, 0, 0, 0.8) solid .14em;
}

a.cta {
	display: inline-block;
	background: #ff0;
	padding: 14px 20px;
	border-bottom: none;
	border-radius: 2px;
  margin-bottom: 28px;
	border-radius: 8px;
	transition: all 300ms ease;
	font-weight: 600;
	background: rgba(173,235,151,1) 100%;
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

a.cta:hover {
	background: #fff;
	// background: rgba(173,235,151,1) 100%;
}









.band.hr.relative.pager .segment.type a:hover {
	background: linear-gradient(90deg, rgba(124,203,150,0.5) 0%, rgba(173,235,151,0.4) 100%); 
}


.band.hr.relative.pager .segment.type a:hover:nth-child(2) {
	background: linear-gradient(90deg, rgba(173,235,151,0.4) 0%, rgba(124,203,150,0.5) 100%); 
}




.ghost {
	pointer-events: none
}

.target {
	pointer-events: auto
}