ul.menu li {
	transition: background ease-out 50ms;
}





// Arrow


ul.menu.arrow li a.plain:focus>.segment.type.work,
ul.menu.arrow li a.plain:hover>.segment.type.work {
	background-position: 98% 22px;
}

ul.menu.arrow li a.plain .segment.work {
	background-image: url(../img/components/arrow-nav-next-03.svg);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 95% 22px;
	transition: 300ms background-position ease, 300ms opacity ease
}


@media (max-width: 700px) {

	ul.menu li a.plain .segment.work {
		background-image: none;
	}

}



@media (max-width: 500px) {

	ul.menu li a.plain:focus>.segment.type.work,
	ul.menu li a.plain:hover>.segment.type.work,
	ul.menu li a.plain:active>.segment.type.work {
		background-size: 30px;
		background-position: 96% 12%
	}

	ul.menu li a.plain .segment.work {
		background-size: 30px;
		background-position: 96% 12%
	}

	ul.menu li dl.credits dt.project {
		display: inline-block
	}

	ul.menu li dl.credits dd.project {
		display: inline
	}
}





.segment.work.grid{
	display: grid;
	grid-gap: 7px;
	grid-template-columns: 60px 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.segment.work.grid img{
	width: 100%;
	border-radius: 8px;
}

.segment.work.grid small{
	grid-column-start: 3;
	grid-column-end: 5;
	margin-left: 10px;
}

.segment.work.grid .thumb-1{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-top: 20px;
}

.segment.work.grid .thumb-2{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-top: 20px;
}


.segment.work.grid dl.project{
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	// margin-top: -5px;

}

dd.date{
	margin-top: 5px;	
}
