body,
header,
footer,
nav {
	transition: 300ms padding ease
}

a {
	transition: all 300ms ease
}

#top {
	transition: all 200ms ease
}

@-webkit-keyframes fade-in-menu-1 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 999
	}
}

@-moz-keyframes fade-in-menu-1 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 999
	}
}

@-o-keyframes fade-in-menu-1 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 999
	}
}

@keyframes fade-in-menu-1 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 999
	}
}

@-webkit-keyframes fade-in-menu-2 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 998
	}
}

@-moz-keyframes fade-in-menu-2 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 998
	}
}

@-o-keyframes fade-in-menu-2 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 998
	}
}

@keyframes fade-in-menu-2 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
		z-index: 998
	}
}

@supports (animation-play-state: paused) or (-webkit-animation-play-state: paused) {
	ul.menu.animate-1 li {
		opacity: 0;
		-webkit-animation-name: fade-in-menu-1;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-out;
		-webkit-animation-duration: 250ms;
		-moz-animation-name: fade-in-menu-1;
		-moz-animation-fill-mode: forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-out;
		-moz-animation-duration: 250ms;
		-o-animation-name: fade-in-menu-1;
		-o-animation-fill-mode: forwards;
		-o-animation-iteration-count: 1;
		-o-animation-timing-function: ease-out;
		-o-animation-duration: 250ms;
		animation-name: fade-in-menu-1;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
		animation-duration: 250ms
	}

	ul.menu.animate-1 li:nth-child(1) {
		-webkit-animation-delay: 50ms;
		-moz-animation-delay: 50ms;
		-o-animation-delay: 50ms;
		animation-delay: 50ms
	}

	ul.menu.animate-1 li:nth-child(2) {
		-webkit-animation-delay: 100ms;
		-moz-animation-delay: 100ms;
		-o-animation-delay: 100ms;
		animation-delay: 100ms
	}

	ul.menu.animate-1 li:nth-child(3) {
		-webkit-animation-delay: 150ms;
		-moz-animation-delay: 150ms;
		-o-animation-delay: 150ms;
		animation-delay: 150ms
	}

	ul.menu.animate-1 li:nth-child(4) {
		-webkit-animation-delay: 200ms;
		-moz-animation-delay: 200ms;
		-o-animation-delay: 200ms;
		animation-delay: 200ms
	}

	ul.menu.animate-1 li:nth-child(5) {
		-webkit-animation-delay: 250ms;
		-moz-animation-delay: 250ms;
		-o-animation-delay: 250ms;
		animation-delay: 250ms
	}

	ul.menu.animate-1 li:nth-child(6) {
		-webkit-animation-delay: 250ms;
		-moz-animation-delay: 250ms;
		-o-animation-delay: 250ms;
		animation-delay: 250ms
	}

	ul.menu.animate-2 li {
		opacity: 0;
		animation-name: fade-in-menu-2;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
		animation-duration: 250ms;
		-webkit-animation-name: fade-in-menu-2;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-out;
		-webkit-animation-duration: 250ms;
		-moz-animation-name: fade-in-menu-2;
		-moz-animation-fill-mode: forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-out;
		-moz-animation-duration: 250ms;
		-o-animation-name: fade-in-menu-2;
		-o-animation-fill-mode: forwards;
		-o-animation-iteration-count: 1;
		-o-animation-timing-function: ease-out;
		-o-animation-duration: 250ms
	}

	ul.menu.animate-2 li:nth-child(1) {
		-webkit-animation-delay: 50ms;
		-moz-animation-delay: 50ms;
		-o-animation-delay: 50ms;
		animation-delay: 50ms
	}

	ul.menu.animate-2 li:nth-child(2) {
		-webkit-animation-delay: 100ms;
		-moz-animation-delay: 100ms;
		-o-animation-delay: 100ms;
		animation-delay: 100ms
	}

	ul.menu.animate-2 li:nth-child(3) {
		-webkit-animation-delay: 150ms;
		-moz-animation-delay: 150ms;
		-o-animation-delay: 150ms;
		animation-delay: 150ms
	}

	ul.menu.animate-2 li:nth-child(4) {
		-webkit-animation-delay: 200ms;
		-moz-animation-delay: 200ms;
		-o-animation-delay: 200ms;
		animation-delay: 200ms
	}

	ul.menu.animate-2 li:nth-child(5) {
		-webkit-animation-delay: 250ms;
		-moz-animation-delay: 250ms;
		-o-animation-delay: 250ms;
		animation-delay: 250ms
	}

	ul.menu.animate-2 li:nth-child(6) {
		-webkit-animation-delay: 250ms;
		-moz-animation-delay: 250ms;
		-o-animation-delay: 250ms;
		animation-delay: 250ms
	}
}