nav ol{
	display: block;
	width: 100%;
}

nav ol li{
	width: 50%;
	vertical-align: top;
	display: inline-block;
}

nav ol li:nth-child(2) {
	float: right;
}




#top nav .flex li.unit:nth-child(1){
	flex-basis: content;
}
#top nav .flex li.unit:nth-child(2){
	flex-basis: content;
}



body.first .pager ol li:nth-child(1){
	visibility: hidden;
}

body.first .pager a.move-left{
	visibility: hidden;
}