ul.swatch{
	display: flex;
	margin: auto;
}

ul.swatch li.colour {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
}

ul.swatch li.colour span{
	display: none;
}

ul.swatch li.colour+li.colour {
	margin-left: -10px;
}

ul.swatch li.colour.outline {
	border: #ddd 1px solid;
}
 
ul.swatch-3{
	width: 100px;
}
ul.swatch-4{
	width: 130px;
}
ul.swatch-5{
	width: 160px;
}

ul.swatch.fo li.colour:nth-child(1) { background: #154b0d }
ul.swatch.fo li.colour:nth-child(2) { background: #C14D4D }
ul.swatch.fo li.colour:nth-child(3) { background: #fcf9f9 }

ul.swatch.gr li.colour:nth-child(1) { background: #95ffe1 }
ul.swatch.gr li.colour:nth-child(2) { background: #222222 }
ul.swatch.gr li.colour:nth-child(3) { background: #ffffff }

ul.swatch.hivstory li.colour:nth-child(1) { background: #5245FA }
ul.swatch.hivstory li.colour:nth-child(2) {	background: #E56BFD }
ul.swatch.hivstory li.colour:nth-child(3) {	background: #afa9fc }

ul.swatch.ideahouse li.colour:nth-child(1) { background: #f4c95b }
ul.swatch.ideahouse li.colour:nth-child(2) { background: #60af74 }
ul.swatch.ideahouse li.colour:nth-child(3) { background: #5ec5e2 }
ul.swatch.ideahouse li.colour:nth-child(4) { background: #ffffff }

ul.swatch.goget li.colour:nth-child(1) { background: #00b4ad }
ul.swatch.goget li.colour:nth-child(2) { background: #ffc611 }
ul.swatch.goget li.colour:nth-child(3) { background: #23262f }
ul.swatch.goget li.colour:nth-child(4) { background: #ffffff }

ul.swatch.gatc li.colour:nth-child(1) { background: #9FAAAE }
ul.swatch.gatc li.colour:nth-child(2) { background: #CFD4D7 }
ul.swatch.gatc li.colour:nth-child(3) { background: #506031 }
ul.swatch.gatc li.colour:nth-child(4) { background: #D9E021 }
ul.swatch.gatc li.colour:nth-child(5) { background: #FDEE21 }

ul.swatch.cotcc li.colour:nth-child(1) { background: #f0e8db }
ul.swatch.cotcc li.colour:nth-child(2) { background: #0d0d0d }
ul.swatch.cotcc li.colour:nth-child(3) { background: #996619 }
ul.swatch.cotcc li.colour:nth-child(4) { background: #632930 }
ul.swatch.cotcc li.colour:nth-child(5) { background: #3f5828 }