ul.menu.tile {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid rgba(0, 0, 0, 0.14)
}

ul.menu.tile li {
	flex-basis: calc(100%/3);
	max-width: calc(100%/3);
	align-self: flex-start;
	flex-grow: 1;
	border-left: 1px solid rgba(0, 0, 0, 0.14);
	border-top: 1px solid rgba(0, 0, 0, 0.14)
}

ul.menu.tile li:nth-child(3n+1) {
	border-left: none
}

ul.menu.tile li:nth-child(1),
ul.menu.tile li:nth-child(2),
ul.menu.tile li:nth-child(3) {
	border-top: none
}

ul.menu.tile li a.plain:hover>.segment.type.work dl.credits {
	background: #fff
}

ul.menu.tile li a.plain:focus>.segment.type.work,
ul.menu.tile li a.plain:hover>.segment.type.work {
	background-position: 50% 50%;
	background-size: cover
}

ul.menu.tile li a.plain:focus>.segment.type.work dl.credits,
ul.menu.tile li a.plain:hover>.segment.type.work dl.credits {
	opacity: 1
}

ul.menu.tile li a.plain .segment.work {
	min-height: 300px;
	background: none;
	background-position: 50% 50%;
	background-size: cover;
	position: relative
}


ul.menu.tile li .segment.work {
	min-height: 300px;
	background: none;
	background-position: 50% 50%;
	position: relative
}



ul.menu.tile li a.plain .segment.work.ih {
	background-image: url("../img/cover/ih-cover-600.jpg")
}

ul.menu.tile li a.plain .segment.work.gg {
	background-image: url("../img/cover/gg-cover-600.jpg")
}

ul.menu.tile li a.plain .segment.work.gr {
	background-image: url("../img/cover/gr-cover-600.jpg")
}

ul.menu.tile li a.plain .segment.work.fo {
	background-image: url("../img/cover/fo-cover-600.jpg")
}

ul.menu.tile li .segment.work.ih {
	background-image: url("../img/cover/ih-cover-600.jpg")
}

ul.menu.tile li .segment.work.gg {
	background-image: url("../img/cover/gg-cover-600.jpg")
}

ul.menu.tile li .segment.work.gr {
	background-image: url("../img/cover/gr-cover-600.jpg")
}

ul.menu.tile li .segment.work.fo {
	background-image: url("../img/cover/fo-cover-600.jpg")
}

ul.menu.tile li .segment.work.blank {
	background-image: url("../img/cover/blank.svg");
	background-size: 100%;
	background-position: 0 0;
	background-opacity: .7;
	position: relative
}

ul.menu.tile li .segment.work dl.credits {
	background: #f1f1f1;
	padding: 10px;
	position: absolute;
	bottom: 0;
	margin: 0 0 26px 0;
	transition: 200ms ease background
}

@media (min-width: 1118px) {
	ul.menu.tile li {
		flex-basis: calc(100%/4);
		max-width: calc(100%/4);
		align-self: flex-start;
		flex-grow: 1;
		border-left: 1px solid rgba(0, 0, 0, 0.14);
		border-top: 1px solid rgba(0, 0, 0, 0.14)
	}

	ul.menu.tile li:nth-child(1),
	ul.menu.tile li:nth-child(2),
	ul.menu.tile li:nth-child(3),
	ul.menu.tile li:nth-child(4) {
		border-top: none
	}

	ul.menu.tile li:nth-child(1n+1) {
		border-left: 1px solid rgba(0, 0, 0, 0.14)
	}

	ul.menu.tile li:nth-child(2n+1) {
		border-left: 1px solid rgba(0, 0, 0, 0.14)
	}

	ul.menu.tile li:nth-child(3n+1) {
		border-left: 1px solid rgba(0, 0, 0, 0.14)
	}

	ul.menu.tile li:nth-child(4n+1) {
		border-left: none
	}

	ul.menu.tile li.disable {
		display: none
	}
}

@media (max-width: 800px) {
	ul.menu.tile li {
		flex-basis: calc(100%/2);
		max-width: calc(100%/2);
		align-self: flex-start;
		flex-grow: 1
	}

	ul.menu.tile li:nth-child(1),
	ul.menu.tile li:nth-child(2) {
		border-top: none
	}

	ul.menu.tile li:nth-child(3),
	ul.menu.tile li:nth-child(4) {
		border-top: 1px solid rgba(0, 0, 0, 0.14)
	}

	ul.menu.tile li:nth-child(2),
	ul.menu.tile li:nth-child(4) {
		border-left: 1px solid rgba(0, 0, 0, 0.14)
	}

	ul.menu.tile li:nth-child(1),
	ul.menu.tile li:nth-child(3) {
		border-left: none
	}

	ul.menu.tile li.disable {
		display: none
	}

	ul.menu.tile li a.plain .segment.work dl.credits {
		margin: 0 0 26px -10px
	}
}

@media (max-width: 500px) {
	ul.menu.tile li {
		flex-basis: 100%;
		max-width: 100%;
		align-self: flex-start;
		flex-grow: 1
	}

	ul.menu.tile li:nth-child(1) {
		border-top: none
	}

	ul.menu.tile li:nth-child(2),
	ul.menu.tile li:nth-child(3),
	ul.menu.tile li:nth-child(4) {
		border-top: 1px solid rgba(0, 0, 0, 0.14)
	}

	ul.menu.tile li:nth-child(1),
	ul.menu.tile li:nth-child(2),
	ul.menu.tile li:nth-child(3),
	ul.menu.tile li:nth-child(4) {
		border-left: none
	}

	ul.menu.tile li.disable {
		display: none
	}

	ul.menu.tile li a.plain .segment.work dl.credits {
		max-width: 200px;
		margin: 0 0 26px -15px;
		padding: inherit
	}
}

