:root {

--mono: "Roboto Mono", "Consolas", "Monaco", "Lucida Console", "Andale Mono", monospace;
--sans: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;

--reg:		'HeldaneText-Regular', monospace;
--regIta:	'HeldaneText-RegularItalic', monospace;
--med: 		'HeldaneText-Medium', monospace;
--medIta: 	'HeldaneText-MediumItalic', monospace;
--bold: 	'HeldaneText-Bold', monospace;
--boldIta: 	'HeldaneText-BoldItalic', monospace;

}

html,
body {
	}

.ref,
.cta,
.table,
.entity,
.figcaption,
.hgroup,
.credits,
.citation,
.footer,
.label{
	font-family: var(--sans);
}


.h1,
.h2,
.h3,
.h4, 
.h5, 
.h6 {
	font-family: var(--reg);
}


.intro{
	font-family: var(--reg);
}


.nav{
	font-family: var(--reg);
}

.amp{
	font-family: var(--regIta);
}

.inline-list{
	font-family: var(--reg);
}



.logomark{
	font-family: var(--reg);
	font-size: 17px;
	text-transform: lowercase;
	font-variant: small-caps;
}

.logomark .by{
	font-variant: normal;
	font-size-adjust: 0.35;
	font-family: var(--regIta);
}

.menu .date{
	font-family: var(--reg);
}


p{
	font-family: var(--reg);
}

em{
	font-family: var(--regIta);
}


