html,
body {
	font-size: 1.05rem;
	line-height: 1.58rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, .intro, .nav {
	font-style: normal;
	font-weight: normal;
}


.intro{
	font-size: 35px;
	line-height: 42px;
	padding-bottom: 45px;
}



.h1 {
	font-size: 44px;
	line-height: 48px;
}
@media (max-width: 500px) {
	.h1 {
		font-size: 32px;
		line-height: 40px;
	}
}

.h2 {
	font-size: 32px;
	line-height: 40px;
}
@media (max-width: 500px) {
	.h2 {
		font-size: 22px;
		line-height: 28px;
	}
}

.h3 {
	font-size: 22px;
	line-height: 28px;
}

.h4, .h5, .h6 {
	font-size: 15px;
	line-height: 19px
}



@media (max-width: 750px) {
	.intro{
		font-size: 30px;
		line-height: 36px;
	}
}

@media (max-width: 500px) {
	.intro{
		font-size: 26px;
		line-height: 32px;
	}
}


nav,
nav ol li,
nav ul li {
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 19px
}


.nav{
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 19px
}



hgroup,
.hgroup {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px
}

table,
th,
td,
p {
	line-height: 1.7rem;
	font-weight: 300;
	font-size: 1.2rem;
}

footer .flex .unit {
	font-size: .8rem;
	line-height: 1.28rem
}

@media (max-width: 500px) {
	table,
	th,
	td {
		font-size: .8rem;
		line-height: 1.28rem
	}
}

ol li,
ul li,
dl,
dd,
dt,
label,
small,
label,
sup,
cite {
	font-size: .8rem;
	line-height: 1.28rem;
}

.figcaption{
	font-size: .8rem;
	line-height: 1.1rem;
}


dl.feed dt {
	letter-spacing: -0.05em
}

@media (max-width: 500px) {
	ul.menu li dl.credits dd.project {
		font-size: .8rem;
		line-height: 1.28rem
	}
}

ul.menu.tile li .segment.work dl.credits dd.project.h3 {
	font-size: .8rem;
	line-height: 1.28rem;
}

dl,
dd,
dt {
	vertical-align: top;
}

dl.credits dl {
	font-weight: 400;
}

dl.credits dt {
	font-weight: 700;
}

@media (max-width: 500px) {
	body main h2,
	body main h3 {
		text-align: left;
	}
}

nav ol li a {
	padding: 3px 0 1px 0;
}

cite{
	display: block;
	font-style: normal;
	padding-top: 5px;
}




// ADJUSTMENTS



.entity {
	font-weight: 400;
	vertical-align: bottom;
	text-rendering: optimizeLegibility;
}

.slash {
	padding: 0 .15em
}

.align-l {
	text-align: left
}

.align-r {
	text-align: right
}

.align-c {
	text-align: center;
	margin: auto;
}

.ndash {
	position: relative;
	top: -0.09em;
	padding: 0 .1em
}

nav .scope {
	display: inline
}

.scope {
	display: block
}

.br {
	display: block
}

.prise {
	letter-spacing: .055em
}

.prise-small {
	letter-spacing: .03em
}

.caps {
	text-transform: uppercase
}

.break {
	word-break: break-word
}



// Adjustments

.h1 {
	margin-left: -0.045em;
}
