body{
	font-variant-numeric: oldstyle-nums slashed-zero stacked-fractions;
}

.sc{
	text-transform: lowercase;
	font-variant: small-caps;
}

.h1 {
	margin-left: -0.045em;
}

.entity {
	font-weight: 400;
	vertical-align: bottom;
	text-rendering: optimizeLegibility;
}

.slash {
	padding: 0.15em
}

.align-l {
	text-align: left
}

.align-r {
	text-align: right;
}

.align-c {
	text-align: center;
	margin: auto;
}

.ndash {
	position: relative;
	top: -0.09em;
	padding: 0 .1em
}

nav .scope {
	display: inline
}



.scope {
	display: block
}

.br {
	display: block
}

.prise {
	letter-spacing: .055em
}

.prise-small {
	letter-spacing: .03em
}

.caps {
	text-transform: uppercase
}

.break {
	word-break: break-word
}

.blockquote::before {
  content: '\201C';
}

.blockquote.hang{
	position: relative;
}

.blockquote.hang::before {
	position: absolute;
  content: '\201C';
  margin-left: -0.5em;
}

.blockquote::after {
  content: '\201D';
}




