background: linear-gradient(18deg, rgba(124,203,150,1) 0%, rgba(102,156,82,1) 100%); 
background: linear-gradient(192deg, rgba(129,211,235,1) 0%, rgba(174,223,237,1) 100%);
background: linear-gradient(81deg, rgba(35,219,164,1) 0%, rgba(68,68,68,1) 62%);
background: linear-gradient(192deg, rgba(19,201,255,1) 0%, rgba(117,224,255,1) 100%); 
background: linear-gradient(18deg, rgba(170,170,29,1) 0%, rgba(255,117,127,1) 100%);
background: linear-gradient(18deg, rgba(29,98,170,1) 0%, rgba(255,142,117,1) 100%);
background: linear-gradient(18deg, rgba(29,98,170,1) 0%, rgba(117,224,255,1) 100%);
background: linear-gradient(18deg, rgba(29,170,76,1) 0%, rgba(255,117,127,1) 100%); 
background: linear-gradient(81deg, rgba(35,219,164,1) 0%, rgba(68,68,68,1) 62%);
background: linear-gradient(192deg, rgba(19,201,255,1) 0%, rgba(117,224,255,1) 100%); 