$font-family_1: "hndi-std",Georgia,serif;

body {
	background: none;
	&::before {
		content: "Printed from [chrisdroom.co.uk], the portfolio of Digital Designer Chris Droom";
		background: #eee;
		display: block;
		padding: 1em;
		font-size: 12px;
		line-height: 14px;
	}
	&::after {
		content: "Printed from [chrisdroom.co.uk], the portfolio of Digital Designer Chris Droom";
		background: #eee;
		display: block;
		padding: 1em;
		font-size: 12px;
		line-height: 14px;
	}
}
html {
	background: none;
}
.band.head {
	background: none;
}
.band {
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.work.iso {
	main {
		margin-top: 0;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
}
h2+dl.credits {
	padding: 0;
}
h2+small {
	padding: 0;
}
.segment.type {
	h3 {
		text-align: left;
	}
	h4 {
		text-align: left;
	}
}
#top {
	display: none;
}
nav {
	display: none;
}
footer {
	display: none;
}
.band.js {
	display: none;
}
.band.pager {
	display: none;
}
#ih-product {
	display: none;
}
dl {
	font-size: 10px;
	line-height: 14px;
}
dt {
	font-size: 10px;
	line-height: 14px;
}
dd {
	font-size: 10px;
	line-height: 14px;
}
.cover-photo {
	display: none;
}
.cover-aside {
	padding: 0 0 1em 0;
}
ul.contents {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		border-bottom: 1px solid rgba(0,0,0,0.08);
		&:last-child {
			border-bottom: none;
		}
	}
}
ul.brace {
	margin: 0;
	padding: 0;
	list-style: none;
}
dl.credits {
	display: block;
	min-width: 210px;
	margin-bottom: 1em;
	dd {
		display: inline;
		margin: 0;
		font-weight: 400;
		&:after {
			display: block;
			content: "";
		}
	}
	dd+dd {
		display: block;
		margin-left: 8.2em;
	}
	dt {
		display: inline-block;
		min-width: 8em;
		font-weight: 700;
	}
	dt.hide {
		display: inline-block;
	}
	dd.description {
		max-width: 340px;
		display: block;
	}
	dd.project {
		margin: 0 0 45px -1px;
		display: block;
	}
	dd.project.h3 {
		margin: 0;
		font-family: $font-family_1;
		font-size: 11px;
		line-height: 1.5em;
		display: inline;
	}
}
dl.job {
	display: block;
	min-width: 210px;
	margin-bottom: 1em;
	dd {
		display: inline;
		margin: 0;
		font-weight: 400;
		&:after {
			display: block;
			content: "";
		}
	}
	dd+dd {
		display: block;
		margin-left: 8.2em;
	}
	dt {
		display: inline-block;
		min-width: 8em;
		font-weight: 700;
	}
	dt.hide {
		display: inline-block;
	}
	dd.description {
		max-width: 340px;
		display: block;
	}
	dd.project {
		margin: 0 0 45px -1px;
		display: block;
	}
	dd.project.h3 {
		margin: 0;
		font-family: $font-family_1;
		font-size: 11px;
		line-height: 1.5em;
		display: inline;
	}
}
body.cv {
	dl.job {
		dd {
			font-weight: 400;
		}
		dt.hide {
			display: inline-block;
		}
	}
}
