nav ol,
footer ol {
	display: block;
	width: 100%
}

nav ol li,
footer ol li {
	width: 50%;
	vertical-align: top;
	display: inline-block
}


nav ol li:nth-child(2),
footer ol li:nth-child(2) {
	float: right
}

.relative {
	position: relative
}

.block {
	display: block
}

.inline {
	display: inline
}

.inline-block {
	display: inline-block;
}

body main p,
body main h2,
body main h3,
body main blockquote,
body main cite {
	margin: auto;
}

body main p,
body main h2,
body main h3,
body main table,
body main blockquote,
body main cite {
	max-width: 710px;
}



.segment {
	margin: auto
}
.segment.relative {
	position: relative
}
.segment.diagram,
.segment.surface,
.segment.blueprint {
	overflow: hidden
}
.segment.type {
	max-width: 710px;
}
.segment.surface,
.segment.caption,
.segment.blueprint {
	max-width: 1118px
}

.segment.blueprint {
	background-color: #e9eae9;
	background-image: url("../img/components/graph-small.svg");
	background-repeat: repeat;
	background-position: -1px 0;
	background-size: 70px 70px
}

html.multiplebgs .segment.blueprint {
	background: url("../img/components/graph-large.svg") repeat -1px 0, url("../img/components/graph-small.svg") repeat -1px 0;
	background-color: rgba(0, 0, 0, 0.04)
}



html.flexbox .flex {
	display: flex;
	margin: auto
}

html.flexbox .flex .start {
	justify-content: flex-start
}

html.flexbox .flex .end {
	justify-content: flex-end
}

html.flexbox .flex .center {
	justify-content: center
}

html.flexbox .flex .between {
	justify-content: space-between
}

html.flexbox .flex .around {
	justify-content: space-around
}

html.flexbox .flex.wrap {
	flex-flow: row wrap
}

html.flexbox .flex .unit {
	flex-grow: 1
}

html.flexbox .flex .unit.end {
	justify-self: flex-end;
	text-align: right
}




@media (max-width: 500px) {
	nav .segment.type.ghost li{
		font-size: 13px;
	}
}


img.arrow-back,
img.arrow {
	width: 60px;
	position: absolute;
	top: 30%;
	right: 30px;
	transition: 200ms all ease
}

img.arrow-back {
	top: 26px;
	left: -80px;
	width: 40px;
	opacity: .1
}

img.arrow-back:hover {
	opacity: 1
}

img.faint {
	opacity: .4
}

picture source.max,
picture.max,
img.max {
	max-width: 100%
}

picture source.min,
picture.min,
img.min {
	min-width: 100%
}

img.round {
	border-radius: 3px
}

picture.blend,
img.blend {
	mix-blend-mode: multiply
}


.band.elsewhere {
	background: rgba(0, 0, 0, 0.04)
}

.band.notice {
	background: repeating-linear-gradient(-45deg, #2199e7, #2199e7 1px, #f1f1f1 1px, #f1f1f1 30px)
}


#top {
	position: fixed;
	top: -75px;
	left: 0;
	width: 100%;
	opacity: 0;
	background-color: rgba(129, 211, 235, 0.8)
}

#top.show {
	opacity: 1;
	top: 0
}




dl.feed {
	display: block
}

@media (max-width: 350px) {
	dl.feed dt,
	dl.feed dd {
		display: block
	}
}



figure figcaption {
	max-width: 340px
}


.terminal {
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .8rem;
	line-height: 1.28rem;
	margin: auto;
	display: block;
	height: 25px;
	width: 25px;
	line-height: 25px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 255, 0.3);
	color: blue;
	background: #fff;
	text-align: center;
	transition: color ease 200ms, background ease 200ms
}

.terminal.set {
	background: blue;
	color: #fff
}

.circle {
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 3px auto 0 auto
}

.oval {
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	width: 56px;
	height: 6px;
	margin: 12px auto 0 auto
}

.but-l-1 {
	width: 4px;
	height: 18px;
	position: absolute;
	left: -4px;
	top: 109px;
	border-radius: 1px;
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-right: 0
}

.but-l-2 {
	position: absolute;
	width: 5px;
	height: 42px;
	left: -5px;
	top: 149px;
	border-radius: 1px;
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-right: 0
}

.but-l-3 {
	width: 5px;
	height: 42px;
	position: absolute;
	left: -5px;
	top: 199px;
	border-radius: 1px;
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-right: 0
}

.but-r-1 {
	width: 5px;
	height: 40px;
	margin: 10px auto 0;
	position: absolute;
	right: -5px;
	top: 130px;
	border-radius: 1px;
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-left: 0
}

.chrome-3,
.chrome-2,
.chrome-1 {
	margin: auto
}

.chrome-3 {
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-bottom: none;
	width: 303px;
	padding-top: 3px;
	border-radius: 35px 35px 0 0;
	position: relative
}

.chrome-2 {
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-bottom: none;
	width: 295px;
	padding-top: 10px;
	border-radius: 32px 32px 0 0
}

.chrome-1 {
	position: relative;
	width: 270px;
	margin-top: 30px;
	min-height: 345px;
	background: rgba(0, 0, 0, 0.1);
	border: .1em solid rgba(0, 0, 0, 0.3);
	border-bottom: none
}



label .type {
	padding: .25em .75em;
	margin: .5em 0 .6em 0
}



.modal {
	border: 1px dashed #2e4dd2;
	padding: 9.3333333333px;
	margin-left: -9.3333333333px;
	margin-top: -9.3333333333px
}

.modal .btn-group {
	margin-top: 42px
}

.modal .btn-group .btn {
	font-size: 1rem;
	padding: 1.1em .8em;
	border: 1px dashed #2e4dd2
}

.modal .btn-group .btn+.btn {
	margin-left: .5rem
}







figure.only-flex section.diagram {
	display: none
}

figure.only-flex figcaption::after {
	content: "Sorry, your browser doesn't support Flexbox. :(";
	background: pink;
	display: block
}

@supports (display: flex) {
	figure.only-flex section.diagram {
		display: block
	}

	figure.only-flex figcaption::after {
		content: "";
		background: none;
		display: inline
	}
}

figure .flex {
	display: block
}

figure .flex .unit {
	display: inline-block
}

figure .flex .unit.half {
	width: 50%
}

figure .flex .unit.third {
	width: calc(100%/3)
}

figure .flex .unit.pad {
	margin: 0
}

figure .flex .unit:nth-child(1) {
	float: left
}

figure .flex .unit:nth-child(2) {
	float: right
}

@supports (display: flex) {
	figure .flex {
		display: flex;
		width: auto
	}

	figure .flex .unit {
		display: block
	}

	figure .flex .unit.half,
	figure .flex .unit.third {
		width: auto
	}

	figure .flex .unit.pad {
		margin: 0 0 0 7px
	}

	figure .flex .unit:nth-child(1),
	figure .flex .unit:nth-child(2) {
		float: none
	}
}




.band.js.hr {
	display: block
}

html.js .band.js.hr {
	display: none
}





/* v9 overrrides to be folded in */


#top nav .flex li.unit:nth-child(1){
	flex-basis: content;
}
#top nav .flex li.unit:nth-child(2){
	flex-basis: content;
}



.intro{
	font-size: 35px;
	line-height: 42px;
	padding-top: 0;
	padding-bottom: 45px;
}

@media (max-width: 750px) {
	.intro{
		font-size: 30px;
		line-height: 36px;
	}
}

@media (max-width: 500px) {
	.intro{
		font-size: 26px;
		line-height: 32px;
	}
}


.grad{
 background: rgb(29,170,76);
 background: linear-gradient(66deg, rgb(89, 166, 106) 0%, rgb(133, 209, 178) 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}





nav .segment.type.ghost {
  padding-top: 20px;
  padding-bottom: 20px;
}

nav .segment.type {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.menu li .segment.type.work {
  padding-top: 15px;
  padding-bottom: 30px;
}


dd.contact a{
  font-family: "Inter", serif !important;;
}


body.index ul.menu li dl{
  line-height: 1.15rem !important;;
}



cite{
	display: block;
	font-style: normal;
	padding-top: 5px;
}


// ul.skills{
// 	margin-top: 15px;
// 	margin-bottom: 30px;
// }

// body.index ul.menu{
// 	counter-reset: projects
// }

// body.index li dl dt.project:after{
// 	counter-increment: projects
// }


.menu dl.credits dd.project{
	font-weight: 700;
	font-size: 19px;

}
.menu dl.credits dt.client{
	visibility: hidden;
}
.menu dl.credits dd.client{}
.menu dl.credits dt.model{
	visibility: hidden;
}

.menu dl.credits dd.model{
	margin: 2px 0 0 0;
	font-weight: 700;
	font-size: 19px;
	opacity:0.6;
	display: inline-block;
}
.menu dl.credits dt.date{
	visibility: hidden;
}

.menu .index-tiles{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	  margin-top: 40px;
  margin-left: 75px;
}

.menu .index-tiles img{
  width: 100%;
  border-radius: 4px;
    filter: grayscale(1);
    opacity: 0.6;
}


.segment.surface.split{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}


body.index ul.menu .segment p{
	padding: 0;
	margin-left: 74px;
	margin-top: 14px;
  font-size: .8rem;
  line-height: 1.2rem;
  max-width: 450px;
}

body.index ul.menu .segment dd.model{
	font-weight: 700;
}   

ul.menu li:active .index-tiles img,
ul.menu li:hover .index-tiles img{
    filter: grayscale(0);
    opacity: 1;
}

body.profile figure{
	width: 100%;
	width: 650px;
	margin: 50px auto 70px;

}
body.profile figure img{
	width: 100%;
	margin: auto;
	border-radius: 10px;
}




body.work.iso .band.head {
  background: linear-gradient(90deg, rgba(124,203,150,1) 0%, rgba(173,235,151,1) 100%); 
}
